h2 {color: white;}
h3 {color: white;}
p {color: white;}
body {background-color: darkslategray;}
a:link {color: green; background-color: transparent; text-decoration: none;}
a:visited {color: yellow; background-color: transparent; text-decoration: none;}
a:hover{color: #90ee90; background-color: transparent; text-decoration: none;}
a:active{color: #ffc0cb; background-color: transparent; text-decoration: none;}
table {width: 50%; background-color: darkblue;}
td, th {text-align: left; color: whitesmoke}